<ion-content class="bg-style"  padding>
    <ion-img src="../../../assets/images/logo_css.png" style="margin-bottom:40px;"></ion-img>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-button color="primary" (click)="NavigateToUsersDashboard()" expand="full" style="margin-top:20px;">Login &nbsp;<ion-icon name="log-in"></ion-icon></ion-button>
    

</ion-content>
