<ion-content class="bg-style"   padding *ngIf="stateChecker" >
  <ion-img src="../../../assets/images/logo_css.png" style="margin-bottom:40px;"></ion-img>
  <ion-row *ngIf="stateChecker">
    <ion-col size="12">
      <div class="imgcontainer">
        <img src="../../../assets/images/face_recog_102.JPG" alt="Avatar" class="avatar"><br>
      </div>
    </ion-col>
      </ion-row>


  <form #loginForm=ngForm   (ngSubmit)="Login()">
    
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="form.email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="form.password" required></ion-input>
          </ion-item>
          <ion-button color="primary" type="submit" expand="full" style="margin-top:20px;" [disabled]="!loginForm.valid">Login 
            &nbsp;<ion-icon name="log-in"></ion-icon></ion-button>
        </form>
        <ion-row>
         <ion-col size="12" style="justify-content: center;text-align:center;margin-top:4px;">
          <ion-text style="" color="medium" routerLink="/forgot-password" >forgot password? <b color="primary">click here</b></ion-text>
         </ion-col>

         
         <div #loginImages style="display:none">
     <img  id="login_image"  alt="" srcset=""> 
     <img   alt="" id="image_from_server" src="" srcset="">
    </div>       
        </ion-row>
         
</ion-content>