<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons class="drawer_elem" slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title color="primary">reset password</ion-title>

      <ion-label slot="end" style="margin-right:20px;margin-top:8px;" *ngIf="notifications_loaded" (click)="SendToNotificationsModal()">
        <ion-icon name="notifications" color="light"style="font-size:25px;" > </ion-icon>
        <ion-badge  *ngIf="notification.count!==0" style="position: absolute;
            margin-top: -11px;
    margin-left: -25px;" color="danger" >{{notification.count}}</ion-badge>
       </ion-label>

    </ion-toolbar>
  </ion-header>

<ion-content padding>


  <form #loginFormChangePassword=ngForm   (ngSubmit)="ChangePassword()">
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">confirm Password</ion-label>
      <ion-input type="password" name="confirm" [(ngModel)]="form.confirm" required></ion-input>
    </ion-item>
    <ion-button color="primary" shape="round" type="submit" expand="full" style="margin-top:20px;" [disabled]="!loginFormChangePassword.valid">Submit
      &nbsp;<ion-icon name="person-add"></ion-icon></ion-button>
  </form>



</ion-content>
