
<ion-header >
    <ion-toolbar style="color:white;">
        <!-- <ion-buttons class="drawer_elem" slot="start">
            <ion-back-button defaultHref ></ion-back-button>
          </ion-buttons> -->
          <ion-buttons class="drawer_elem" slot="start" style="margin-left:15px;" (click)="MoveBack()">
            <ion-icon class="ico_use" name="arrow-back"></ion-icon>
           </ion-buttons>
      <ion-title class="nav-header-text">Privacy Policy</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
  
   
  
  
    
      <ion-card-header text-center>
          <h2 class="h3-service"  style="color:indianred;border-bottom:2px solid indianred;font-size:18px;"><b> Information Collection and Use</b></h2>
      </ion-card-header>
      <ion-card-content text-center>
        For a better experience while using our Service, we may require you to provide us with certain 
        personally identifiable information, including but not limited to your name, phone number, and postal address.
         The information that we collect will be used to contact or identify you.
      </ion-card-content>
    
  
  
  
  
  
      <ion-card-header text-center>
          <h2 class="h3-service"  style="color:indianred;border-bottom:2px solid indianred;font-size:18px;"><b>Security</b></h2>
      </ion-card-header>
      <ion-card-content text-center>
        We value your trust in providing us your Personal Information, thus we are striving to use
         commercially acceptable means of protecting it. But remember that no 
         method of transmission over the internet, or method of electronic storage is 100% 
         secure and reliable, and we cannot guarantee its absolute security.
      </ion-card-content>
    
  
      <ion-card-header text-center>
          <h2 class="h3-service"  style="color:indianred;border-bottom:2px solid indianred;font-size:18px;"><b>Links to Other Sites</b></h2>
      </ion-card-header>
      <ion-card-content text-center>
        Our Service may contain links to other sites. If you click on a third-party link,
         you will be directed to that site. Note that these external sites are not operated by us. 
         Therefore, we strongly advise you to review the Privacy Policy of these websites.
          We have no control over, and assume no responsibility for the content, 
        privacy policies, or practices of any third-party sites or services.
      </ion-card-content>
    
  </ion-content>
  