 <ion-header color="primary">
  <ion-toolbar>
      <ion-buttons class="drawer_elem" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      
    <ion-title color="primary">home</ion-title>

     <ion-label slot="end" style="margin-right:20px;margin-top:8px;" (click)="SendToNotificationsModal()" *ngIf="notifications_loaded" >
      <ion-icon name="notifications" color="light"style="font-size:25px;" > </ion-icon>
      <ion-badge *ngIf="notification.count!==0" style="position: absolute;
         margin-top: -11px;
    margin-left: -25px;" color="danger" >{{notification.count}}</ion-badge>
     </ion-label>
    


  </ion-toolbar>
</ion-header>

<ion-content padding>

 


    <ion-grid >
        <ion-row>
          <ion-col col-6>
              <!-- <ion-card > -->
                  <ion-card-content text-center routerLink="/users/dashboard/profile" > 
                    <ion-icon name="people" color="dark" class="ion-resize"></ion-icon><br>
                         <b class="ion-item-link" style="color:dark !important;">Profile</b> 
                  </ion-card-content>
                <!-- </ion-card> -->
  
          </ion-col>
          <ion-col col-6>

              <!-- <ion-card routerLink="/admin/dashboard/user-profile/user-profile/add-user"> -->
                  <ion-card-content text-center routerLink="/users/dashboard/reset-password">  
                      <ion-icon name="create" color="dark" class="ion-resize"></ion-icon><br>
                           <b class="ion-item-link">reset password</b> 
                    </ion-card-content>
                  
                <!-- </ion-card> -->
  


          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <!-- <ion-card> -->
  
                  <ion-card-content text-center routerLink="/users/dashboard/tasks"> 
                      <ion-icon name="add-circle" color="dark" class="ion-resize"></ion-icon><br>
                           <b class="ion-item-link">Tasks</b> 
                    </ion-card-content>
                  
                <!-- </ion-card>                       -->
          </ion-col>
          <ion-col col-6>
              <!-- <ion-card> -->
    
                  <ion-card-content text-center routerLink="/users/dashboard/financial-report"> 
                      <ion-icon name="cash" color="dark" class="ion-resize"></ion-icon><br>
                           <b class="ion-item-link">financial report</b> 
                    </ion-card-content>
                  
                
                <!-- </ion-card> -->
  
          </ion-col>
        </ion-row>
 

        <ion-row>
            <ion-col col-6>
                <!-- <ion-card> -->
                    <ion-card-content text-center > 
                      <ion-icon name="cog" color="dark" class="ion-resize"></ion-icon><br>
                           <b class="ion-item-link" style="color:dark !important;">Settings</b> 
                    </ion-card-content>
                  <!-- </ion-card> -->
    
            </ion-col>
            <ion-col col-6>
  
                <!-- <ion-card (click)="GoToServicePage()"> -->
                    <ion-card-content text-center> 
                        <ion-icon name="information-circle" color="dark" class="ion-resize"></ion-icon><br>
                             <b class="ion-item-link">About</b> 
                      </ion-card-content>
                    
                  <!-- </ion-card> -->
    
                  
            </ion-col>
          </ion-row>


<!--           
        <ion-row>
            <ion-col col-6>
                <ion-card>
                    <ion-card-content text-center > 
                      <ion-icon name="home" color="dark" class="ion-resize"></ion-icon><br>
                           <b class="ion-item-link" style="color:dark !important;">Logout</b> 
                    </ion-card-content>
                  </ion-card>
    
            </ion-col>
                      </ion-row> -->

      </ion-grid>


</ion-content>
