 <ion-header color="primary">
  <ion-toolbar>
      <ion-buttons class="drawer_elem" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      
    <ion-title color="primary">home</ion-title>

     <ion-label slot="end" style="margin-right:20px;margin-top:8px;" (click)="SendToNotificationsModal()" *ngIf="notifications_loaded" >
      <ion-icon name="notifications" color="light"style="font-size:25px;" > </ion-icon>
      <ion-badge *ngIf="notification.count!==0" style="position: absolute;
         margin-top: -11px;
    margin-left: -25px;" color="danger" >{{notification.count}}</ion-badge>
     </ion-label>
    


  </ion-toolbar>
</ion-header>

<ion-content padding>


</ion-content>
