<ion-header >
    <ion-toolbar style="color:white;">
        <!-- <ion-buttons class="drawer_elem" slot="start">
            <ion-back-button defaultHref ></ion-back-button>
          </ion-buttons> -->
          <ion-buttons class="drawer_elem" slot="start" style="margin-left:15px;" (click)="MoveBack()">
            <ion-icon class="ico_use" name="arrow-back"></ion-icon>
           </ion-buttons>
      <ion-title class="nav-header-text">About</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
  
    <ion-card>
      <ion-card-header text-center>
          <h2 class="h3-service" style="color:indianred;border-bottom:4px solid indianred;"><b>About Us</b></h2>
      </ion-card-header>
      <ion-card-content text-center>
          cleversoftwares is a company that focuses on providing enterprise solutions to individuals and organizations
          to help them grow thier bussiness, thier dream, thier finances and thier lives as they want and how they want
          with a wealth of experience in ICT making this possible to be achieved.
           cleversoftwares even though majorly is focused on enterprise solutions, also has a focus for teaching tech
           as well as discussing latest technologies and how they can be useful now and in the future.
      </ion-card-content>
    </ion-card>
         
    <ion-card>
      <ion-card-header text-center >
          <h2 class="h3-service" style="color:indianred;border-bottom:4px solid indianred;"><b>Contact Us</b></h2>
      </ion-card-header>
      <ion-card-content text-center>
          <p><ion-icon name="call"></ion-icon>&nbsp;+2347067247419</p> 
          <p> <ion-icon name="globe"></ion-icon>&nbsp; http://www.cleversoftwares.com</p>
          <p> <ion-icon name="mail"></ion-icon>&nbsp;hello@cleversoftwares.com</p>
      </ion-card-content>
    </ion-card>
    
    <div class="center-elem" text-center>
      
      <span>
         <a  (click)="onViewLink('http://www.facebook.com/cleversoftwares')" >  <ion-icon   style="font-size:30px;color:#1955af !important;" name="logo-facebook"></ion-icon></a>
       <a  (click)="onViewLink('http://www.youtube.com/cleversoftwares')" ><ion-icon color="danger" style="font-size:30px;" name="logo-youtube"></ion-icon></a>    
        </span>
    
  
    </div>
   
  
  </ion-content>
  